<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<div class="container">
    <div class="card">
        <h4 class="card-title">Movies collection</h4>
    </div>
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies; let i = index">
                <td>{{movie}}</td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="deleteMovie(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="newName" class="form-control" placeholder="name">
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="addMovie()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>